name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  job-test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out source code
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        with:
          version: 9.x.x

      - name: Install xvfb
        run: sudo apt-get install -y xvfb

      - name: Check engine.vscode version
        run: |
          diff <(cat package.json| jq '.devDependencies["@types/vscode"]') <(cat package.json | jq .engines.vscode)

      - name: Run tests
        run: |
          pnpm install
          xvfb-run --auto-servernum pnpm run test
          pnpm run compile
